{% extends "CloudPodClassroomBundle::layout.html.twig" %}

{% block title "Symfony - Lesson View" %}

{% block content %}
{#{{  lesson.getLessonFileID().getName() }}#}
  <div style="float:right"><a href="{{ path('download', {'param': 'lesson'}) }}"> Download here 
</a>  </div>
<h1> {{ lesson.lessonTitle }} </h1>
Description : {{ lesson.lessonDesc }} <br/>
Content: <div style="border:2px solid black;">{{ lesson.lessonContent | raw }} </div>
{#use this once deployed!
<iframe src="{{ tag | raw }}"></iframe>
	#}
{# ---------------------------------
	sample iframe!#}
{#--------------------------------------------------------------#}

<iframe src="http://docs.google.com/viewer?url=cloud-pod.net%2FCloudPod%2Fweb%2Ffiles%2Fuploads%2Flessons%2F1%2F05.pdf&embedded=true" width="600" height="500" style="border: none;"></iframe>
<br/>
<br/>


{% endblock %}